@{
  Layout="Shared/_Layout.cshtml";
}

<h1>All Courses</h1>
@if (@Model.Count == 0)
{
  <p>There are no courses.</p>
}
<ul>
  @foreach (var course in Model)
  {
    <li><a href="/courses/@course.GetId()">@course.GetCourseName(), @course.GetCourseNumber()</a></li>
  }
</ul>
<a href="/courses/new">Add new course</a>
<h4><a href="/">Return home</a></h4>
