@{
  Layout="Shared/_Layout.cshtml";
}

<h1>All Departments</h1>
@if (@Model.Count == 0)
{
  <p>There are no departments.</p>
}
<ul>
  @foreach (var department in Model)
  {
    <li><a href="/departments/@department.GetId()">@department.GetDepartmentName()</a></li>
  }
</ul>
<a href="/departments/new">Add new department</a>
<h4><a href="/">Return home</a></h4>
