@{
  Layout="Shared/_Layout.cshtml";
}
<form action="/departments/new" method="post">
  <label for="department-name">Department Name</label>
  <input id="department-name" name="department-name" type="text">
  <button type="submit" class="btn btn-info">Add</button>
</form>
<hr>
<h4><a href="/">Return home</a></h4>
<h4><a href="/departments">View All Departments</a></h4>
