@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete all students?</h2>

<form action="/students/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
<p><a href="/">Back home</a></p>
